

<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    This project consists of the design and development
of an advanced HR application designed to help streamline time tracking and management for
teams and organizations. <p>The application integrates with Jira, which is a project management
tool commonly used by developers, to allow them to automatically track their time spent on
specific tasks.</p><p> The application also includes a built-in time logging feature to allow users to log
their time directly in the application.</p>
<p>The application includes a user management system that allows HR and project managers to
easily add, remove, and edit users and their access rights.</p> Additionally, the day off request
feature allows employees to easily request time off and view their approved schedule.<p>
The application also includes reporting features to provide insights into employee time and
attendance data, as well as security measures to ensure the protection of sensitive employee
data.</p> The application is mobile compatible, scalable, and integrates with other business
systems, making it a comprehensive solution for managing and optimizing team efficiency.



    <div class="follow text-center">
        <br>
        <h4>Follow Us</h4>
        
  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <div class="wrapper">
          <div class="button">
             <div class="icon">
                <i class="fab fa-facebook-f"></i>
             </div>
             <span>Facebook</span>
          </div>
          <div class="button">
             <div class="icon">
                <i class="fab fa-twitter"></i>
             </div>
             <span>Twitter</span>
          </div>
          <div class="button">
             <div class="icon">
                <i class="fab fa-instagram"></i>
             </div>
             <span>Instagram</span>
          </div>
          
       </div>
    
    </div>

</section>

