
.navbar
{
    background-color: black;
    
}
.navbar-light .navbar-nav .nav-link
{
    color:black;
    font-size: 16px;
    
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
    color: white;
   
}
.navbar-nav {
    margin-left: auto;
}